<div class="panel panel-default module module-videos">
  <div class="panel-heading">
    <b>Profile</b>
  </div>
  <a href="#">
    <%= image_tag 'avatar.jpg', :class => 'img-square' %>
  </a>
  <ul class="list-group">
    <%= render 'users/show/user_field_row', {
      :user => user,
      :attribute => 'name',
      :content => user.name,
      :id => 'user-name',
      :placeholder => 'Full Name'
    } %>

    <%= render 'users/show/user_field_row', {
      :user => user,
      :attribute => 'country',
      :content => user.country,
      :id => 'user-country',
      :placeholder => 'Country',
      :empty_sub => '<i class="fa fa-bicycle pull-right"></i>'.html_safe
    } %>

    <%= render 'users/show/user_field_row', {
      :user => user,
      :attribute => 'city',
      :content => user.city,
      :id => 'user-city',
      :placeholder => 'City',
      :empty_sub => '<i class="fa fa-rocket pull-right"></i>'.html_safe
    } %>

    <% if can? :edit, user %>
      <li class="list-group-item">
        <b>Email:</b>
        <div class="pull-right profile-email"><%= mail_to user.email %></div>
      </li>
    <% end %>
  </ul>
</div>
