<div class="panel panel-default module module-videos">
  <div class="panel-heading">
    <b>Profile</b>
  </div>
  <a href="#">
    <%= image_tag 'avatar.jpg', :class => 'img-square' %>
  </a>
  <ul class="list-group">
    <li class="list-group-item">
      <b>Name:</b>
      <% if can? :edit, user %>
        <div class="pull-right">
          <span class="rest-in-div">
            <%= content_tag :span, user.name, {
              :id => 'user-name',
              :class => 'rest-in-place',
              :data => {
                :url => user_path(user),
                :object => 'user',
                :attribute => 'name',
                :placeholder => 'Full Name'
              }
            } %>
          </span>
          <a class="rip-edit rip-edit-inline" onclick="$('#user-name').click();">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
      <% else %>
        <span class="pull-right"><%= user.name %></span>
      <% end %>
    </li>
    <li class="list-group-item">
      <b>Country:</b>
      <% if can? :edit, user %>
        <div class="pull-right">
          <span class="rest-in-div">
            <%= content_tag :span, user.country, {
              :id => 'user-country',
              :class => 'rest-in-place',
              :data => {
                :url => user_path(user),
                :object => 'user',
                :attribute => 'country',
                :placeholder => 'Country'
              }
            } %>
          </span>
          <a class="rip-edit rip-edit-inline" onclick="$('#user-country').click();">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
      <% else %>
        <% if user.country.nil? || user.country.empty? %>
          <i class="fa fa-bicycle pull-right"></i>
        <% else %>
          <span class="pull-right"><%= user.country %></span>
        <% end %>
      <% end %>
    </li>
    <li class="list-group-item">
      <b>City:</b>
      <% if can? :edit, user %>
        <div class="pull-right">
          <span class="rest-in-div">
            <%= content_tag :span, user.city, {
              :id => 'user-city',
              :class => 'rest-in-place',
              :data => {
                :url => user_path(user),
                :object => 'user',
                :attribute => 'city',
                :placeholder => 'City'
              }
            } %>
          </span>
          <a class="rip-edit rip-edit-inline" onclick="$('#user-city').click();">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
      <% else %>
        <% if user.city.nil? || user.city.empty? %>
          <i class="fa fa-rocket pull-right"></i>
        <% else %>
          <span class="pull-right"><%= user.city %></span>
        <% end %>
      <% end %>
    </li>
    <li class="list-group-item">
      <b>Email:</b>
      <div class="pull-right profile-email"><%= mail_to user.email %></div>
    </li>
  </ul>
</div>
