<% if translation %>
  <div id="translate">
    <div class="panel-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active tab-translation">
          <a href="#tab-amara" class="panel-title-tabs" aria-controls="home" role="tab" data-toggle="tab">
            Translate on Amara
          </a>
        </li>
        <li role="presentation" class="tab-translation">
          <a href="#tab-srt" class="panel-title-tabs" aria-controls="srt" role="tab" data-toggle="tab">
            Translate Offline
          </a>
        </li>
      </ul>
    </div>

    <div class="panel panel-default module module-padding module-tabs">
      <div role="tabpanel">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active tab-amara" id="tab-amara">
            <span>If you'd like to use Amara's translation interface, you can use the <b><%= link_to 'link to the Amara video', video.amara_link, :target => '_amara' %></b>. To earn points, submit your published Amara link below. You can find this link by clicking <b>Burmese</b> in the languages panel.</span>

            <%= form_tag(video_translation_submit_amara_path(video, translation), :class => 'tab-form', :multipart => true) do %>
              <div class="input-group">
                <%= text_field_tag :amara_link, nil, :class => 'form-control', :placeholder => 'Copy your Amara link here.' %>
                <div class="input-group-btn">
                  <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade tab-srt" id="tab-srt">
            <span>
            <% if (srt_link = video.amara_en_srt) %>
              If you want to translate offline using an SRT, you can <b><%= link_to 'download the video\'s SRT', srt_link %></b>.
            <% else %>
              Unfortunately, there is no English SRT available. You can use audio from the video above to translate.
            <% end %>
            When you're finished translating, use the following steps to get credit for your work:</span>

            <ol class="upload-steps">
              <li>Visit the <b><%= link_to 'Amara link', video.amara_link, :target => '_amara' %></b>.</li>
              <li>Hover over the wrench and click <b>Upload Subtitles</b>.</li>
              <li>Follow the steps to finish subtitling the video, and click <b>Publish</b> to complete.</li>
              <li>In the languages panel, click <b>Burmese</b>. Copy the URL of the page.</li>
              <li>Navigate to the tab on the left, <b>Translate on Amara</b>, on this page. Paste your link and hit <b>Submit</b>.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
