<div class="panel panel-default module">
  <div class="panel-heading">
    <b><%= video.title %></b>
    <% if can? :update, video %>
      <%= link_to edit_video_path(video), :class => 'link-edit-video' do %>
        <i class="fa fa-pencil"></i></i>
      <% end %>
    <% end %>
    <div id="toggle-star-<%= @video.id %>" class="pull-right">
      <%= toggle_star_button(video) %>
    </div>
  </div>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="<%= video.youtube_link %>" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-footer">
    <div class="pull-left"><b>Subject: <%= video.subject_list.join(', ') %></b></div>
    <div class="pull-right"><b>Duration: <%= seconds_to_string(video.duration) %></b></div>
  </div>
</div>
