<div class="panel panel-default module">
  <div class="panel-heading">
    <b><%= video.title %></b>
    <div id="toggle-star-<%= @video.id %>" class="pull-right">
      <%= toggle_star_button(video) %>
    </div>
  </div>

  <div class="h_iframe">
      <%= image_tag 'video_placeholder.jpg', :class => 'ratio' %>
      <iframe src="<%= video.youtube_link %>" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-footer">
    <div class="pull-left"><b>Subject: Math</b></div>
    <div class="pull-right"><b>Duration: 2:15</b></div>
  </div>
</div>
