<div class="media">
  <div class="media-left media-middle">
    <%= link_to leader do %>
      <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic-large' %>
    <% end %>
  </div>
  <div class="media-body">
    <p class="media-heading"><b><%= leader.name %></b></p>
    <p class="media-heading"><%= [ leader.city, leader.country ].reject(&:blank?).join(', ') %></p>
    <span class="badge"><%= pluralize(leader.points(after), 'Point') %></span>
  </div>
</div>
