<div class="panel panel-default module module-videos">
  <% title_link ||= nil %>
  <% if title_link %>
    <%= link_to title_link do %>
      <div class="panel-heading">
        <b><%= title %></b>
        <i class="fa fa-caret-down pull-right"></i>
      </div>
    <% end %>
  <% else %>
    <div class="panel-heading">
      <b><%= title %></b>
    </div>
  <% end %>
  <% if videos.empty? %>
    <div id="video-results" class="panel-empty">
      <%= message_empty %>
    </div>
  <% else %>
    <div id="video-results" class="panel-content">
      <%= render 'videos/index/videos_table', :videos => videos, :star => (defined?(star) and star) %>
    </div>
  <% end %>
</div>
