<tr>
  <td>
    <div id="toggle-star-<%= video.id %>" class="star-inline">
      <%= toggle_star_button(video) if (defined?(star) and star) %>
    </div>
    <%= link_to video.title, video, :class => 'row-title' %>
  </td>
  <td><%= video.subject_list.join(', ') %></td>
  <td><%= seconds_to_string(video.duration) %></td>
  <td><%= video.status.to_s.titleize %><td>
</tr>
