<% if session[:import_errors] %>
  <div class="col-md-5 no-padding">
    <div class="panel panel-default module module-import">
      <div class="panel-heading">
        Previous Import
      </div>
      <div class="panel-body">
        <% if session[:import_errors].any? %>
          You previous import on <%= session[:last_import].strftime('%m/%d/%Y at %H:%M') %> had errors, listed below:
          <ul>
            <% session[:import_errors].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% else %>
          Your previous import on <%= session[:last_import].strftime('%m/%d/%Y at %H:%M') %> was successful!
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="<%= session[:import_errors] ? 'col-md-7' : 'col-xs-12' %> no-padding">
  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
    Import videos
    </div>
  <div class="panel-body">
    <p>You can import a list of videos in CSV format. Make sure that the file you use is consistent with the following template:</p>
    <div class="download">
      <%= link_to 'Download Template', download_path(:filename => 'public/video/template.csv'), :class => 'btn btn-default btn-download' %>
    </div>
    <p>Note that you only have to fill in the <code>youtube_id</code> column; the rest are optional.</p>
    <%= form_tag import_videos_path, :multipart => true do %>
    <div class="form-group form-import">
      <%= file_field_tag 'file', :class => 'filestyle', :'data-icon' => false %>
    </div>
  <%= submit_tag 'Import', :class => 'btn btn-primary' %>
<% end %>
