<% unless @last_import.nil? %>
  <div class="col-md-5 no-padding">
    <div class="panel panel-default module module-import">
      <div class="panel-heading">
        Last Import
      </div>
      <div class="panel-body">
        <p>Your last import on <%= @last_import.time_imported.strftime('%m/%d/%Y at %H:%M') %> was <%= @last_import.success ? '' : 'not ' %> successful.<br>
        <%= @last_import.videos.size %> videos were imported.</p>

        <% unless @last_import.success %>
          <p>Below are listed some errors:</p>
          <ul>
            <% @last_import.messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="<%= @last_import.nil? ? 'col-xs-12' : 'col-md-7' %> no-padding">
  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
    Import videos
    </div>
  <div class="panel-body">
    <p>You can import a list of videos in CSV format. Make sure that the file you use is consistent with the following template:</p>
    <div class="download">
      <%= link_to 'Download Template', download_path(:filename => 'public/video/template.csv'), :class => 'btn btn-default btn-download' %>
    </div>
    <p>Note that you only have to fill in the <code>youtube_id</code> column; the rest are optional.</p>
    <%= form_tag import_videos_path, :multipart => true do %>
    <div class="form-group form-import">
      <%= file_field_tag 'file', :class => 'filestyle', :'data-icon' => false %>
    </div>
  <%= submit_tag 'Import', :class => 'btn btn-primary' %>
<% end %>
