<div class="video-filter">
  <%= form_tag videos_path, :method => 'get', :class => 'form-search', :id => 'video-search' do %>
    <div class="col-lg-8 col-md-6 no-padding">
      <%= text_field_tag :search, nil, {
        :class => 'form-control', :placeholder => 'Search by video name.', :autocomplete => 'off'
      } %>
    </div>

    <div id="status-filter" class="status-check-group col-lg-4 col-md-6 no-padding">
      <div class="btn-group col-xs-12 no-padding" role="group" aria-label="...">
        <% @statuses.each_with_index do |status, i| %>
          <span class="button-checkbox btn-group col-xs-3 no-padding">
            <% check_box = check_box_tag 'statuses[]', status, @default_params[status], :class => 'hidden' %>
            <%= check_box unless i == 0 %>
            <button type="button" class="btn col-xs-12" data-color="<%= status_to_color(status) %>"><%= status.titleize %></button>
            <%= check_box if i == 0 %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br />

<div id="video-list" class="module-search-results">
</div>
