<div class="col-md-8 no-padding">
  <%= render 'videos/show/video_frame', :video => @video %>

  <%= render 'videos/show/actions', :video => @video, :user => current_user, :translation => @user_translation %>

  <%= render 'videos/show/translate_frame', :video => @video, :user => current_user, :translation => @user_translation %>

  <div id="review" class="panel panel-default module module-videos">
    <div class="panel-heading">
      <b>Recent Translations</b>
    </div>
    <div class="panel-content">
      <table class="table">
        <thead>
          <tr>
            <th>Author</th>
            <th>Length</th>
            <th>Date Added</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Darren Zhao</a></td>
            <td>1:31</td>
            <td>1/2/14</td>
            <td><button class="btn btn-success btn-xs">Download</button></td>
          </tr>
          <tr>
            <td><a href="#">Edward Whang</a></td>
            <td>3:42</td>
            <td>1/2/13</td>
            <td><button class="btn btn-success btn-xs">Download</button></td>
          </tr>
          <tr>
            <td><a href="#">Edward Whang</a></td>
            <td>2:26</td>
            <td>1/2/12</td>
            <td><button class="btn btn-success btn-xs">Download</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-md-4 no-padding">
  <div class="panel panel-default module">
    <div class="panel-heading">
      <b>Contributors</b>
      <a class="pull-right" href="#"><i class="fa fa-plus-circle"></i></a>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Edward Whang</p>
        <span class="badge">Translator</span>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Darren Zhao</p>
        <span class="badge">Translator</span>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Naseem Alnaji</p>
        <span class="badge success-background">Reviewer</span>
      </div>
    </div>
  </div>

  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
      <b>Similar Videos</b>
    </div>
    <div class="panel-content">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Area of a Shaded Region</a></td>
            <td>1:31</td>
          </tr>
          <tr>
            <td><a href="#">Area of an Equilateral Triangle</a></td>
            <td>3:42</td>
          </tr>
          <tr>
            <td><a href="#">Area of a Sector Given an Angle</a></td>
            <td>2:26</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
