<div class="col-md-8 no-padding">
  <%= render 'videos/show/video_frame', :video => @video %>

  <%= render 'videos/show/actions', :video => @video, :user => current_user, :translation => @user_translation %>

  <%= render 'videos/show/translate_frame', :video => @video, :user => current_user, :translation => @user_translation %>

  <%= render 'videos/translations/translations_frame', :video => @video, :user => current_user, :translations => @completed_translations %>
</div>

<div class="col-md-4 no-padding">
  <%= render 'videos/show/contributors_frame', :translators => @translators, :reviewers => @reviewers %>

  <%= render 'videos/show/similar_videos_frame', :videos => @similar_videos %>
</div>
