<div class="col-md-8 no-padding">
  <%= render 'videos/show/video_frame', :video => @video %>

  <%= render 'videos/show/actions', :video => @video, :user => current_user, :translation => @user_translation %>

  <%= render 'videos/show/translate_frame', :video => @video, :user => current_user, :translation => @user_translation %>

  <%= render 'videos/show/translations_frame', :video => @video, :user => current_user, :translations => @completed_translations %>
</div>

<div class="col-md-4 no-padding">
  <%= render 'videos/show/contributors_frame', :contributors => @contributors %>

  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
      <b>Similar Videos</b>
    </div>
    <div class="panel-content">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Area of a Shaded Region</a></td>
            <td>1:31</td>
          </tr>
          <tr>
            <td><a href="#">Area of an Equilateral Triangle</a></td>
            <td>3:42</td>
          </tr>
          <tr>
            <td><a href="#">Area of a Sector Given an Angle</a></td>
            <td>2:26</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
