<div class="col-md-8 no-padding">
  <%= render 'videos/index/videos_list', {
    :title => 'Assigned Videos',
    :videos => @assigned_videos,
    :message_empty => 'No videos assigned.'
  } %>

  <%= render 'videos/index/videos_list', {
    :title => 'Recently Translated Videos',
    :videos => @translated_videos,
    :message_empty => 'No videos translated recently.'
  } %>

  <%= render 'videos/index/videos_list', {
    :title => 'Top Priority Videos',
    :title_link => videos_path,
    :videos => @priority_videos,
    :message_empty => 'No videos need to be translated quickly.'
  } %>
</div>

<div class="col-md-4 no-padding">
  <%= render 'home/dashboard/accomplishments_frame', {
    :assigned => @assigned_videos.length,
    :translated => @translated_videos.length,
    :reviewed => @reviewed_videos.length,
    :user => current_user
  } %>

  <%= render 'home/dashboard/goals_frame' %>

  <%= render 'home/dashboard/rankings_frame' %>
</div>
