<div class="row">
  <center>
    <div class="module-images">
      <%= image_tag 'instagram-1.jpg', :class => 'large-image' %>
      <%= image_tag 'instagram-2.jpg', :class => 'small-image' %>
      <%= image_tag 'instagram-3.jpg', :class => 'small-image' %>
      <%= image_tag 'instagram-4.jpg', :class => 'small-image' %>
      <%= image_tag 'instagram-9.jpg', :class => 'small-image' %>
      <%= image_tag 'instagram-6.jpg', :class => 'small-image' %>
      <%= image_tag 'instagram-7.jpg', :class => 'small-image' %>
      <div class="spacer"></div>
      <div class="pull-left video-text">
        <h1><b>Contribute to Learning Today!</b></h1>
        <h4>Join us in bringing free education to Myanmar by translating important videos from Khan Academy.</h4>
        <%= link_to 'Get Started', new_user_registration_path, :class => 'btn btn-success' %>
      </div>
      <div class="pull-left video">
        <iframe src="//www.youtube.com/embed/M01-TM92298" frameBorder="0" autoplay="0"></iframe>
      </div>
      <div class="spacer"></div>
      <div class="pull-left text" >
        <h1><b>About Us</b></h1>
        <h4>We are community of volunteers dedicated to provide resources and tools for the translation of Khan Academy videos into the Myanmar language. </h4>
        <h4>For more information, please visit our official website: <a href="http://www.khanacademyburmese.org" target="_blank">khanacademyburmese.org</a></h4>
        <a class="btn btn-primary" href="http://www.khanacademyburmese.org" target="_blank">Learn More</a>
      </div>
      <%= image_tag 'instagram-5.jpg', :class => 'large-image about-image' %>
      <%= image_tag 'instagram-8.jpg', :class => 'small-image about-image' %>
      <%= image_tag 'instagram-10.jpg', :class => 'small-image about-image' %>
      <div class="spacer"></div>
    </div>
  </center>
</div>
