<div class="panel panel-default module">
  <div class="panel-heading">
    <a href="#"><b>Collaborative Weekly Goals</b></a>
    <% if current_user.is?("admin") || current_user.is?("superadmin") %>
      <a class="pull-right" href="goals"> <span class="badge">Set Goals</span> </a>
    <% end %>
  </div>
    <ul class="goals">
    <li>New Translators</li>
    <li>
      <div class="progress">
        <div class="progress-bar progress-bar-<%= @percent_translators_status %>" role="progressbar"
        style="width: <%= @percent_translators %>%">
        </div>
      </div>
    </li>
    <li>Total Number of Translated Videos</li>
      <div class="progress">
        <div class="progress-bar progress-bar-<%= @percent_translated_videos_status %>" role="progressbar" style="width: <%= @percent_translated_videos %>%">
        </div>
      </div>
    </li>
    <li>Total Time Translated</li>
    <li>
      <div class="progress">
        <div class="progress-bar progress-bar-<%= @percent_minutes_translated_status %>" role="progressbar" style="width: <%= @percent_minutes_translated %>%">
        </div>
      </div>
    </li>
  </ul>
</div>
